#features {
    grid-area: "features";
    // // !!!!
    background-color: rgba(0, 0, 255, .05);
    // !!!!
    // background-color: var(--bg-0);

    overflow: hidden;
}

.features {
    // !!
    background-color: rgba(0, 0, 255, .05);

    padding-top: calc(var(--gap-v)*3);
    padding-bottom: calc(var(--gap-v)*2);
    padding-left: var(--gap-aside);
    padding-right: var(--gap-aside);
    color: var(--dtl-dark-0);
}

.features__title {
    // !!
    background-color: rgba(0, 0, 255, .05);

    padding-bottom: calc(var(--gap-v)*2);
    text-align: center;

    &::first-letter {
        text-transform: uppercase;
    }

    @include laptop {
        padding-bottom: calc(var(--gap-v)*1.5);
    }

    @include tablet {
        padding-bottom: calc(var(--gap-v)*1.25);
    }

    @include phablet {
        padding-bottom: calc(var(--gap-v)*1);
    }
}

.features__swiper-container.swiper-container {
    background-color: rgba(0, 25, 255, .1);
    position: relative;
    width: 100%;
    padding-bottom: calc(var(--gap-v)*1.5);

    @include tablet {
        padding-bottom: calc(var(--gap-v)*1.25);
    }

    @include phablet {
        padding-bottom: calc(var(--gap-v)*1);
    }
}

.features__pagination .swiper-pagination-bullet {
    background: red;
    opacity: 1;
    width: 15px;
    height: 15px;
    margin: calc(var(--gap-v)*(-1)) 20px !important;

    @include phablet {
        margin: calc(var(--gap-v)*(-.8)) 20px !important;
    }
}

.features__pagination .swiper-pagination-bullet-active {
    background: yellow;
    opacity: 0.9;
    width: 15px;
    height: 15px;
}


.features__swiper {
    width: 80%;
    height: 100%;

    @include desktop {
        width: 100%;
    }
}

.features__list {
    margin: 0 auto;
    list-style-type: none;


}

.features__item {
    // !!
    background-color: rgba(0, 255, 255, .05);
    // border: 1px solid red;

    //    width: 25%;

    // @include phablet {
    //     flex-basis: 50%;

    // }
    // @include mobile{
    //     flex-basis: 100%;

    // }
    &:nth-child(odd) {
        background-color: rgba(0, 255, 255, .5);
    }
}

.features__link {
    background-color: rgba(255, 255, 255, .1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

// !!!!!!!!!!!!выравнять по нижнему краю текст

.featers__img {
    display: block;
    padding-bottom: calc(var(--gap-v)*1.1);


}

.features__name {
    // !!! clamp
    // font-size: 3rem;
    font-size: clamp(1.8rem, 1.364rem + 0.78vw, 3rem);

    font-weight: 500;
    // padding-bottom: calc(var(--gap-v)*1);


    &::first-letter {
        text-transform: uppercase;
    }

    @include laptop {
        font-weight: 500;
    }
}