.main{
    grid-area: "main";

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 2fr;
    grid-template-areas:
    "taptofly"
    "features"
    "vision"
    "flying"
    "journey"
    ;
    @include mobile{
        grid-template-rows: 2fr 1fr 2fr 2fr 1fr;
    }
}
