.section-title {
    white-space: nowrap;
    // font-size: clamp(1.6rem, 1.561rem + 0.2vw, 1.8rem);

    &--sm {
        font-size: 4.8rem;
        font-weight: 600;
        color: green;
    }

    &--md {
        font-size: 6rem;
        font-weight: 700;
        line-height: 1.2;
    }

    &--lg {
        // font-size: 9rem;
        font-size: clamp(2rem, 0.667rem + 4.07vw, 9rem);
        line-height: 1.1;
        font-weight: 500;

        @include mobile {
            font-size: clamp(2.2rem, 0.575rem + 7.12vw, 3.5rem);
        }
    }

    // @include hd {
    //     color: greenyellow;
    // }

    // @include desktop {
    //      color: firebrick;
    // }

    // @include laptop {
    //      color: yellow;
    // }

    // @include tablet {

    //     color: red;
    // }

    // @include phablet {

    //     color: blue;
    // }

    // @include mobile {

    //     color: green;
    // }
}